<!-- TODO -->
<div class="modal fade anim-fade" id="modal-form-wrapper" tabindex="-1" role="dialog" aria-labelledby="sendForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4 class="text-center">Оставьте свой номер телефона и наш специалист свяжется с Вами.</h4>

                <form method="post" id="modal-form" style="height: 95px;">
                    <div class="form">
                        <input class="col-md-12" id="phone" type="text" name="phone" placeholder="номер телефона">
                        <input type="submit" id="modal-form-button" class="btn btn-default btn-block" value="Заказать звонок">
                    </div>
                </form>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
