<div id="success-modal" class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="text-center bright-color">Спасибо за обращение!</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <h2>Заявка успешно отправлена.</h2>
                <h4>Мы вам перезвоним!</h4>
                </br>
                <input class="btn btn-primary btn-block btn-lg" data-dismiss="modal" value="Закрыть" type="button">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
