    <meta charset="utf-8">

    <!-- TODO -->

    <title>Proj title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- Mobile Specific Metas
  ================================================== -->
    <!-- TODO to desktop only ? -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS
  ================================================== -->

    <!-- Web Fonts  -->
    <!-- TODO -->

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- build:css styles/combined.css -->
    <!-- Theme Style -->
    <!-- TODO -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/theme-animate.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- endbuild -->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- TODO for aple -->
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png"> -->
